<% provide(:title, "Xamin Build Studio")%>

  <div class="banner">
   <div class="banner_text" align="center">
    <div style="font-weight: bold; padding-top:120px;" class="banner_line1"><%= @banner_title %></div>
    <div style="font-weight: bold;" class="banner_line2"><%= @banner_text1 %></div>
    <div style="color: rgb(204, 204, 204); font-family: Standard Symbols L;" class="banner_line3"><p><big><%= @banner_text2 %></big></p></div>
    <%= link_to "More Information", "#", :class => "more_info_link" %>
   </div>
   <div class="banner_image" align="center">
        <img style="padding-top:60px;" src="./assets/Banner_Cloud.png" height="400" width="400">
   </div>
  </div>

<div class="container1">
 <div align="center">
   <div class="arrow-down"></div>
   <div class="top_body_container" align="center">
     <img style="padding-top:20px;" src="assets/XBS.png">
     <div style="width: 700px; text-align: justify; color: rgb(51,51,51); font-family: FreeSans;"><big><br><%= @xbs_definition %></big><%= link_to " Learn More >>", "#", :class => "learn_more_link"%></div>
   </div>
   <div class="arrow-up"></div>
 </div>
</div>



<div class="container2">
 <div class="left_container" align="center">
  <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
   <tbody>
    <tr>
     <td style="vertical-align: top; text-align: center;"><img style="padding-top:35px; padding-bottom:30px;" width="500" src="assets/Distribute.png"><br>
     </td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center;"><img width="170" style="float:left; padding-left:85px; padding-right:20px" src="assets/SoftwareDistribute.png"><br>
       <div align="center">
         <p style="width:300px; line-height:30px; font-size:20px; text-align: justify; float:left; color:white;">Xamin  Build Studio  is software  as  a  service to  provides  ISVs  and individual developers to
         </p>
       </div>
      </td>
     </tr>
    </tbody>
   </table>
 </div>

 <div class="right_container" align="center">
  <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
   <tbody>
    <tr>
     <td style="vertical-align: top; text-align: center;"><img style="padding-top:35px; padding-bottom:30px;" width="400" src="assets/Start.png">
     <br>
     </td>
    </tr>
    <tr>
     <td style="vertical-align: top; text-align: center;"><img width="140" style="float:left; padding-left:85px;" src="assets/Power.png"><br>
      <div align="center">
       <p style="width:300px; line-height:30px; font-size:20px; text-align: justify; float:left; color:white;">Xamin  Build Studio  is software  as  a  service to  provides  ISVs  and individual developers to
       </p>
      </div>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
