<% provide(:title, 'New App') %>
      <div>
        <%= form_for(@appliance) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <%= f.text_field :name, :value => "Appliance Name", :class => "input_text" %>
        <%= f.text_field :description, :value => "Appliance Description", :class => "input_text" %>
        <%= f.text_field :icon, :value => "Appliance Icon", :class => "input_text" %>
        <%= f.text_field :activation, :value => "Activation", :class => "input_text" %>
        <%= f.submit "Create New Appliance", :class => "input_button" %>
        <% end %>
      </div>
