<%=provide(:title, current_user.first_name + "'s Dashboard") %>
<%= render 'layouts/user_pannel' %>
<div class="app_pannel"><h3 class="pannel_title">Your Actions</h3></div>
<div align="center" style="margin-bottom:20px;">
<div align="center" style="overflow:auto; width:78%;">
<div class="boxgrid captionfull dashboard_item" style="background-color: rgb(51, 102, 153);">
        <%= link_to "Appliance", user_appliances_path(current_user), :class => "dashboard_title" %>
        <br>
        <div><img style="position:relative;" height="92" width="92" src=<%=asset_path "App.png"%>></div>
		<a>
		 <span style="top: 197px;" class="boxcaption">
		  <span class="descr">jQuery Div Slider &amp; HTML Slider</span> 
		  <div style="width:80%; text-align:justify;">
		  	<span class="dashboard_text">Packages are the smallest appliance building blocks. You can upload your own package into your appliance</span>
		  </div>
		  <br>
		  <div class="dashboard_button_left">Browse<br>Your Package</div>
		  <div class="dashboard_button_right">Create<br>Your Package</div>
		</span>
		</a>
</div>


<div class="boxgrid captionfull dashboard_item"
style="background-color: rgb(103, 175, 63);">
		<span class="dashboard_title">vapp</span>
		<br>
        <div><img style="position:relative;" height="92" width="92" src=<%=asset_path "vApp.png"%>></div>
		<a>
		 <span style="top: 197px;" class="boxcaption">
		  <span class="descr">jQuery Div Slider &amp; HTML Slider</span> 
		  <div style="width:80%; text-align:justify;">
		  	<span class="dashboard_text">Packages are the smallest appliance building blocks. You can upload your own package into your appliance</span>
		  </div>
		  <br>
		  <div class="dashboard_button_left">Browse<br>Your Package</div>
		  <div class="dashboard_button_right">Create<br>Your Package</div>
		</span>
		</a>
</div>

<div class="boxgrid captionfull dashboard_item"
style="background-color: rgb(223, 38, 136);">
		<span class="dashboard_title">Test</span>
		<br>
        <div><img style="position:relative;" height="92" width="92" src=<%=asset_path "test.png"%>></div>
		<a>
		 <span style="top: 197px;" class="boxcaption">
		  <span class="descr">jQuery Div Slider &amp; HTML Slider</span> 
		  <div style="width:80%; text-align:justify;">
		  	<span class="dashboard_text">Packages are the smallest appliance building blocks. You can upload your own package into your appliance</span>
		  </div>
		  <br>
		  <div class="dashboard_button_left">Browse<br>Your Package</div>
		  <div class="dashboard_button_right">Create<br>Your Package</div>
		</span>
		</a>
</div>

<div class="boxgrid captionfull dashboard_item"
style="background-color: rgb(226,26,44);">
		<span class="dashboard_title">Package</span>
		<br>
        <div><img style="position:relative;" height="92" width="92" src=<%=asset_path "package.png"%>></div>
		<a>
		 <span style="top: 197px;" class="boxcaption">
		  <span class="descr">jQuery Div Slider &amp; HTML Slider</span> 
		  <div style="width:80%; text-align:justify;">
		  	<span class="dashboard_text">Packages are the smallest appliance building blocks. You can upload your own package into your appliance</span>
		  </div>
		  <br>
		  <div class="dashboard_button_left">Browse<br>Your Package</div>
		  <div class="dashboard_button_right">Create<br>Your Package</div>
		</span>
		</a>
</div>

<div class="boxgrid captionfull dashboard_item"
style="background-color: rgb(81, 70, 56);">
		<span class="dashboard_title">Pattern</span>
		<br>
        <div><img style="position:relative;" height="92" width="92" src=<%=asset_path "pattern.png"%>></div>
		<a>
		 <span style="top: 197px;" class="boxcaption">
		  <span class="descr">jQuery Div Slider &amp; HTML Slider</span> 
		  <div style="width:80%; text-align:justify;">
		  	<span class="dashboard_text">Packages are the smallest appliance building blocks. You can upload your own package into your appliance</span>
		  </div>
		  <br>
		  <div class="dashboard_button_left">Browse<br>Your Package</div>
		  <div class="dashboard_button_right">Create<br>Your Package</div>
		</span>
		</a>
</div>

<div class="boxgrid captionfull dashboard_item"
style="background-color: rgb(250, 104, 0);">
		<span class="dashboard_title">Repository</span>
		<br>
        <div><img style="position:relative;" height="92" width="92" src=<%=asset_path "repo.png"%>></div>
		<a>
		 <span style="top: 197px;" class="boxcaption">
		  <span class="descr">jQuery Div Slider &amp; HTML Slider</span> 
		  <div style="width:80%; text-align:justify;">
		  	<span class="dashboard_text">Packages are the smallest appliance building blocks. You can upload your own package into your appliance</span>
		  </div>
		  <br>
		  <div class="dashboard_button_left">Browse<br>Your Package</div>
		  <div class="dashboard_button_right">Create<br>Your Package</div>
		</span>
		</a>
</div>
</div>
</div>
<div class="statistic_panel"></div>
