<% provide(:title, 'Sign up') %>
<div class="top_horizontal_pannel">
      <div class="pannel_content">
        <h1>SIGNUP NOW TO XAMIN BUILD STUDIO</h1>
        <h3>Complete the following simple  form to  register  to  Xamin Build Studio as a software developer account.</h3>
      </div>
</div>
<div class="narrow_top_pannel"></div>

<div class="body_container">
      <div class ="left_section">
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <%= f.text_field :first_name,:value => "First Name", :class => "input_text" %>
        <%= f.text_field :last_name, :value => "Last Name", :class => "input_text" %>
        <%= f.text_field :email, :value => "Email", :class => "input_text" %>
        <%= f.password_field :password, :value => "---", :class => "input_text" %>
        <%= f.password_field :password_confirmation, :value => "---", :class => "input_text" %>
        <%= f.submit "Create My Account", :class => "input_button" %>
        <% end %>
      </div>
      <div class ="right_section">
        <h2>COMMON QUESTIONS</h2>
        <h3>CAN I CANCEL MY ACCOUNT?</h3>
        <p>Absolutely! You can cancel your account at any time, and without any penalties. At the end of your subscription period, you will not be charged further.</p>
        <h3>CAN I CANCEL MY ACCOUNT?</h3>
        <p>Absolutely! You can cancel your account at any time, and without any penalties. At the end of your subscription period, you will not be charged further.</p>
        <h3>CAN I CANCEL MY ACCOUNT?</h3>
        <p>Absolutely! You can cancel your account at any time, and without any penalties. At the end of your subscription period, you will not be charged further.</p>
      </div>
      <div>
      </div>
</div>

