<%=provide(:title, @user.first_name + "'s Profile") %>
<div>
 <h1>Profile information and Image</h1>
 <span><b>Name: </b> <%= @user.first_name %></span> <br>
 <span><b>Family: </b><%= @user.last_name %></span> <br>
 <span><b>Email Address: </b><%= @user.email %></span> <br>
</div>

<div>
 <%=render 'shared/followstats' %>
</div>
<div>
 <%= render 'follow_form' if signed_in? %>
</div>