<div class="site-footer">
 <div class="site-footer-menu">
  <table border="0" cellpadding="2" cellspacing="2">
   <tbody>
    <tr>
     <td style="vertical-align: top; text-align: center; padding-top:28px;">
      <%= link_to "Xamin Website", "http://www.xamin.ir" %> 
      <br>
     </td>
     <td style="vertical-align: top; text-align: center;">
      <br>
     </td>
     <td style="vertical-align: top; text-align: center; padding-top:28px;">
      <%= link_to "Appliance Market", "http://market.xamin.ir" %>
     </td>
     <td style="vertical-align: top;">
      <br>
     </td>
     <td style="vertical-align: top; text-align: center; padding-top:28px;">
      <%= link_to "Send Feedback", "#" %>
     </td>
     <td style="vertical-align: top;">
      <br>
     </td>
     <td style="vertical-align: top; text-align: center; padding-top:28px;">
      <%= link_to "Contact Us", "#" %>
     </td>
    </tr>
    <tr>
     <td style="vertical-align: top; text-align: center;  padding-top:50px;">
      <img width="100" src=<%=asset_path "XHome.png"%>/>
     </td>
     <td style="vertical-align: top; text-align: center;">
      <img height="200" src=<%=asset_path "footer_seprator.png"%>/>
      <br>
     </td>
     <td style="vertical-align: top;">
      <div style="text-align: center; padding-top:50px;">
       <img height="100px" width="100px" src=<%=asset_path "Market.png"%>/>
      </div>
      <br>
     </td>
     <td style="vertical-align: top; text-align: center;">
      <img height="200" src=<%=asset_path "footer_seprator.png"%>/>
      <br>
     </td>
     <td style="vertical-align: top; text-align: center;  padding-top:50px;">
      <img height="100" width="100" src=<%=asset_path "Feedback.png"%>/>
      <br>
     </td>
     <td style="vertical-align: top; text-align: center;">
      <img height="200" src=<%=asset_path "footer_seprator.png"%>/>
      <br>
     </td>
     <td style="vertical-align: top; text-align: center;  padding-top:50px;">
      <img height="100" width="100" src=<%=asset_path "Contact.png"%>/><br>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="site-footer-copyright">Copyright © 2013 Xamin Linux Distribution. All rights reserved. Read our <%=link_to('#') do %><strong>Privacy Policies</strong><% end %>.
 </div>
</div>