<div class="user_profile_pannel" id="user_panel_info">
 <div class="user_info">
  <img class="user_img" src=<%=asset_path "zabolzadeh.jpg"%>>
   <div>
    <h1 class="user_pannel_title"><%= current_user.first_name + " " + current_user.last_name %></h1>
    <%= link_to "Edit Account", '#', :class => 'profile_link' %>
    <br>
    <%= link_to "View Your Appliances", '#', :class => 'profile_link' %>
    <br>
    <%= link_to "Sign Out", '#', :class => "profile_link" %>
   </div>
 </div>
</div>
